main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--sp-large);
}

.faq-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-bkg-secondary);
  width: 90%;
  max-width: 1200px;
  height: 300px;
  padding: var(--sp-medium);
  margin-top: var(--sp-large);
  border-radius: 16px;
  gap: var(--sp-large);
}
.faq-info-container h1,
span {
  font-family: MuseoModerno-regular;
}

.faq-info__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: var(--sp-medium);
  margin-bottom: var(--sp-large);
  padding: var(--sp-large);
  border-radius: 16px;
}

/* accordion styles */

.accordion-container {
  width: 90%;
  max-width: 1200px;
  height: auto;
  border-radius: 8px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.accordion__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-small);
  cursor: pointer;
  background-color: var(--col-bkg-secondary);
  border-radius: 8px 8px 0 0;
  border: 2px solid lightgray;
}

.accordion__title {
  color: var(--col-txt-primary);
}

.accordion__toggle-button {
  padding: var(--sp-small);
  cursor: pointer;
  border: none;
  background-color: var(--col-btn-primary);
  border-radius: 0.5rem;
}

.accordion__toggle-logo {
  transition: transform 0.3 linear;
}

.accordion__content-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
  background-color: var(--col-bkg-secondary);
  margin-bottom: var(--sp-medium);
}

.accordion__content-container--active {
  max-height: 500px;
  border: 1px solid lightgray;
  border-top: 0px;
  border-radius: 0 0 8px 8px;
  padding: var(--sp-small);
}

.accordion__content {
  line-height: 1.3;
  padding: var(--sp-small);
}

.rotate-arrow {
  transform: rotate(180deg);
}

@media screen and (max-width: 764px) {
  .faq-info-container {
    width: 95%;
    line-height: 1.1;
    height: 350px;
  }

  .faq-info__content-container {
    gap: var(--sp-small);
  }
  .accordion-container {
    width: 95%;
  }
}
