main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sp-medium);
  padding: var(--sp-medium);
}

/* hero styles */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-medium);

  gap: var(--sp-small);
}

.hero__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url("../assets/images/Hero/hero-image.jpg");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: var(--sp-large);
}

.hero__content-container {
  width: 100%;
  max-width: 1200px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-small);
}

.main__heading-brand {
  font-family: MuseoModerno-regular;
}
/* description styles */

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 300px;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-medium);
}

.description__image-container {
  width: 50%;
  height: 100%;
  background-image: url("../assets/images/DSLR-example.jpg");
  background-repeat: no-repeat;
  background-position: 10% 55%;
}

.description__description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: var(--sp-large);
  align-items: center;
  gap: var(--sp-small);
  line-height: 1.5;
}

.description__description-container span {
  font-family: MuseoModerno-regular;
}

/* brands styles */
.brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 200px;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-medium);
  gap: var(--sp-small);
}

.brands__images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-large);
}

@media screen and (max-width: 1060px) {
  .description {
    width: 100%;
  }

  .description__description-container {
    gap: var(--sp-small);
    line-height: 1.2;
  }

  .brands {
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  main {
    padding: var(--sp-small);
  }
  .description {
    flex-direction: column;
    height: 500px;
  }

  .description__image-container {
    width: 100%;
    background-position: 10% 55%;
    height: 50%;
    background-size: cover;
  }

  .description__description-container {
    width: 100%;
    padding: var(--sp-large);

    line-height: 1.5;
  }
  .brands {
    height: 300px;
    flex-direction: column;
  }
  .brands__images-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 890px) {
  .hero {
    height: 500px;
  }
}
