main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: var(--sp-large); */
}

.checkout-container {
  width: 80%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-medium);
  margin-top: var(--sp-medium);
}

.checkout__form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-self: start;
  width: 60%;
  gap: var(--sp-medium);
}

.form__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-medium);
  border-radius: 16px;
  line-height: 1.6;

  border-color: lightgray;
}

legend {
  font-family: MuseoModerno-regular;
  font-size: var(--si-txt-large);
}

input {
  border-radius: 4px;
  padding: 4px;
}

/* checkout cart overview */

.checkout__cart-container {
  height: 100%;
  min-height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 40%;
  border-color: 2px solid lightgray;
  border-radius: 8px;
}
.checkout-cart__items-container {
  height: inherit;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;
  width: 100%;
  background-color: var(--col-bkg-secondary);
  border-radius: 8px;
  border-color: 2px solid lightgray;
  gap: var(--sp-small);
}

.content-item-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-radius: 8px;
  padding: var(--sp-medium);
  gap: var(--sp-medium);
}

.content-item__image-container {
  display: flex;
  width: 20%;
}
.content-item__image-container img {
  width: 100%;
}

.content-item__description-container {
  display: flex;
  width: 50%;
  margin-left: auto;
  align-items: center;
  justify-content: end;
  gap: var(--sp-medium);
}
