main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--sp-large);
}

.form-container {
  width: 60%;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

.form {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: var(--sp-medium);
  margin: var(--sp-large);
  flex-basis: 75%;
}

.form__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-medium);
  border-radius: 16px;
  line-height: 1.6;

  border-color: lightgray;
}

legend {
  font-family: MuseoModerno-regular;
  font-size: var(--si-txt-large);
}

input {
  border-radius: 4px;
  padding: 4px;
}

/* cart overview */

.cart-container--active {
  display: flex;
  flex-basis: 25%;
  height: 100%;
  overflow: auto;
  background-color: var(--col-bkg-secondary);
  justify-items: center;
  padding-top: var(--sp-medium);
}

.cart__empty {
  display: flex;
  margin-top: var(--sp-medium);
}

.cart__content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  border-radius: 0.5rem;
  margin-top: var(--sp-large);
  padding: var(--sp-medium) var(--sp-medium);
  gap: var(--sp-medium);
}

.content-item-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: var(--sp-medium);
  gap: var(--sp-medium);
}

.content-item__image-container {
  display: flex;
  width: 20%;
}
.content-item__image-container img {
  width: 100%;
}

.content-item__description-container {
  display: flex;
  width: 50%;

  align-items: center;
  gap: var(--sp-medium);
}
