main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: var(--sp-medium);
}

.shop {
  width: 100%;
  display: flex;
  gap: var(--sp-medium);
}

/* sorting-panel styles */
.filter-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: var(--sp-medium);
  gap: var(--sp-medium);
  text-align: center;
  background-color: var(--col-bkg-secondary);
}
.filter-button {
  width: 75%;
  height: 2rem;
}

.filter-button--active {
  background-color: var(--col-btn-hover);
  box-shadow: 1px 2px 1px black;
}

.filter-container p {
  font-size: var(--si-txt-medium);
  margin-bottom: var(--sp-small);
}

.filter__brands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-medium);
}
.filter__types-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-medium);
}

/* items-panel styles */

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 85%;
  min-height: 100vh;
  gap: var(--sp-medium);
}

/* sort buttons styles */

.items__sort-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-medium);
  gap: var(--sp-large);
}

.sort-button--active {
  background-color: var(--col-btn-hover);
  box-shadow: 1px 2px 1px black;
}

/* item grid styles */
.items__grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--sp-medium);
  padding: var(--sp-medium);
  justify-self: center;
  background-color: var(--col-bkg-primary);
}

.item-container {
  display: flex;
  flex-direction: column;
  background-color: var(--col-bkg-secondary);
  border-radius: 0.5rem;
  padding: var(--sp-medium) var(--sp-medium);
  gap: var(--sp-medi);
  position: relative;
}
.item-container button {
  margin-top: var(--sp-small);
}

.item__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin-bottom: var(--sp-small);
}
.item__image-container img {
  width: 100%;
  object-fit: cover;
}
.item__description-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: end;
  font-size: var(--si-txt-small);
}
.item__description-container p {
  line-height: 1.3;
}

.deal-offer-badge {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--col-deal-sticker);
  color: var(--col-txt-secondary);
  transform: rotate(20deg);
  position: absolute;
  right: -10px;
  top: -10px;
}

/* Cart styles */

.cart-container {
  display: none;
  /* position: fixed;
  z-index: 1;
  right: 0;
  top: 0px;
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: var(--col-bkg-secondary); */
}

.cart-container--active {
  display: block;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0px;
  width: 30%;
  height: 100vh;
  overflow: scroll;
  background-color: var(--col-bkg-secondary);
  justify-items: center;
  padding-top: var(--sp-medium);
  border: 2px solid lightgray;
  border-radius: 8px;
}

.cart__empty {
  display: flex;
  margin-top: var(--sp-medium);
}

.cart__content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: var(--sp-large);
  padding: var(--sp-medium) var(--sp-medium);
  gap: var(--sp-medium);
}

.content-item-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: var(--sp-medium);
  gap: var(--sp-medium);
}

.content-item__image-container {
  display: flex;
  width: 20%;
}
.content-item__image-container img {
  width: 100%;
}

.content-item__description-container {
  display: flex;
  width: 50%;

  align-items: center;
  gap: var(--sp-medium);
}

.cart__clear-button {
  margin-bottom: var(--sp-medium);
}
