main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: var(--sp-medium);
}

.shop {
  width: 100%;
  display: flex;
  gap: var(--sp-medium);
}

/* sorting-panel styles */
.filter-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: var(--sp-medium);
  gap: var(--sp-medium);
  text-align: center;
  background-color: var(--col-bkg-secondary);
}
.filter-container button {
  width: 75%;
  border-radius: 4px;
}
.filter__brands-container {
  display: flex;
  flex-direction: column;
}

.brands__links {
  display: flex;
  flex-direction: column;
  gap: var(--sp-small);
}

.filter-container p {
  font-size: var(--si-txt-medium);
  margin-bottom: var(--sp-small);
}

.filter__type-container {
  display: flex;
  flex-direction: column;
}

.types__links {
  display: flex;
  flex-direction: column;
  gap: var(--sp-small);
}

/* items-panel styles */

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 85%;
  min-height: 100vh;
  gap: var(--sp-medium);
}

/* sort buttons styles */

.items__sort-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--col-bkg-secondary);
  padding: var(--sp-medium);
  gap: var(--sp-large);
}

.sort-button:active {
  color: var(--col-btn-hover);
}

/* item grid styles */
.items__grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--sp-medium);
  padding: var(--sp-medium);
  justify-self: center;
  background-color: var(--col-bkg-secondary);
}

.item-container {
  display: flex;
  flex-direction: column;
  background-color: var(--col-bkg-primary);
  border-radius: 0.5rem;
  padding: var(--sp-medium) var(--sp-medium);
  gap: var(--sp-medi);
  position: relative;
}
/* .item-container button{
    width;
} */

.item__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__image-container img {
  width: 100%;
}
.item__description-container {
  display: flex;
  flex-direction: column;
  font-size: var(--si-txt-small);
}
.item__description-container p {
  line-height: 1.3;
}

.deal-offer-badge {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--col-deal-sticker);
  color: var(--col-txt-secondary);
  transform: rotate(20deg);
  position: absolute;
  right: -10px;
  top: -10px;
}
