@font-face {
  font-family: MuseoModerno-regular;
  src: url("../assets/fonts/MuseoModerno-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
body {
  width: 100%;
  height: 100vh;
  min-width: 340px;
  background-color: var(--col-bkg-primary);
  font-family: Roboto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  background-color: var(--col-btn-primary);
  border-radius: 16px;
  padding: var(--sp-small) var(--sp-large);
  color: var(--col-txt-secondary);
  cursor: pointer;
}

button:hover {
  background-color: var(--col-btn-hover);
}

/* add cart styles to render across all pages */

/* Cart styles */

.cart-container {
  display: none;
  /* position: fixed;
  z-index: 1;
  right: 0;
  top: 0px;
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: var(--col-bkg-secondary); */
}

.cart-container--active {
  display: block;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0px;
  width: 30%;
  height: 100vh;
  overflow: scroll;
  background-color: var(--col-bkg-secondary);
  justify-items: center;
  padding-top: var(--sp-medium);
  border: 2px solid lightgray;
  border-radius: 8px;
}

.cart__empty {
  display: flex;
  margin-top: var(--sp-medium);
  font-family: Roboto;
}

.cart__total {
  font-family: Roboto;
}

.cart__content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: var(--sp-large);
  padding: var(--sp-medium) var(--sp-medium);
  gap: var(--sp-medium);
}

.content-item-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: var(--sp-medium);
  gap: var(--sp-medium);
}

.content-item__image-container {
  display: flex;
  width: 20%;
}
.content-item__image-container img {
  width: 100%;
}

.content-item__description-container {
  display: flex;
  width: 50%;

  align-items: center;
  gap: var(--sp-medium);
}

.cart__clear-button {
  margin-bottom: var(--sp-medium);
}
